@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

html,
body,
#root {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}
